    * {
        margin: 0;
        padding: 0;
    }
    #container{
        width:100%;
    }
    /*......navegation..........*/

    .navbar{
        margin:0px;
        background-color: #f2f2f2;
    }

    .navbar-toggle span{
        background-color: black;
    }

    .navbar a{
        font-weight: bold;
        color: #FF3519;
    }

    .navbar a:hover{
        color: #0066FF;
    }

    .active a{
        background-color:#eee;
        color: #0066FF;
    }

    /*......navegation end..........*/
    /*.......Slideshow..............*/
    #slidecontainer {
        width: 100%;
        height: auto;
        overflow: hidden;
        background: #fff;
        opacity: 50%;
        margin: 0 auto 20px auto;
        border-bottom: 5px solid black;

    }

    #slideshow {
        height: auto;
        width: 100%;
    }
    #slideshow img {
        height: 75%;
        width: 100%;
    }
    /*..........Slideshow end........*/

    /*......Picture gallery..........*/
    #info{
        border:5px solid #FF3519;
        margin-bottom:25px;
    }

    #info p{
        word-wrap: break-word;
    }

    #info img{
        max-width:100%;
        max-height:100%;
        border-radius: 10px;
    }
        /*........Picture gallery end.....*/
        /*........postingBoard..........*/
    #postingBoard{
        padding-top:25px;
        width: 100%;
        height: 100%;
        background-color: #333;
    }
    #postingBoard .posting{
        word-wrap: break-word;
        background: white;
        border:5px solid #FF3519;

    }

    #postingBoard .posting img{
        max-width:100%;
        max-height:100%;
        border-radius: 10px;
    }

    #postingBoard .posting h1{
        text-align: center;
    }

    /*......postingBoard end.........*/
    /*.......footer start............*/
    #footer{
        width:100%;
        background-image: url("img/wood.jpeg");
        background-size: cover;
        color: white;
        position: relative;
        
    }
    #footer #boxcontroller{
        width:90%;
        margin: auto;
    }
    #footer .headerInFooter{
        font-family: "Apple Chancery", Georgia, serif;
        font-weight: bold;
        font-size: 25px;
    }
    #footer #statement{
        text-align: center;
        font-size: 20px;
        margin:auto;
        padding: 20px;
    }
    #footer #location{
        height: 300px;
        text-align: center;
        font-size: 20px;
        margin:auto;
        padding: 20px;
    }
    #location span a{
        color:#FFAF94;
    }
    
    #footer #connect{
        height: 300px;
        text-align: center;
        font-size: 20px;
        margin:auto;
        padding: 20px;
    }
    #footer #connect img{
        width:50px;
        height:50px;
    }

    #footer #secondLine{
        text-align: center;
    }
    #footer #copyTag{
        text-align: center;
    }


    /*....header for menu sub-pages....*/
h1.pos_center_menu {
       text-align: center;
       padding-top: 50px;
    }
    div.pizzadiv1 {
        padding-bottom: 10px;
    }
img.pizzaimg1{
        border: 5px solid #FF3519;
        position: relative;
        left: 50px;     
    }
    
p.pizzadescript1{
        border:  1px solid black;
        position: absolute;
        left: 250px;
        top: 150px;
    }
    
img.pizzaimg2{
        border: 5px solid #FF3519;
        position: absolute;
        left:800px;
        
        
    }
    
p.pizzadescript2{
        border:  1px solid black;
        position: absolute;
        left: 1000px;
        top: 150px;
    }

img.pizzaimg3{
        border: 5px solid #FF3519;
        position: relative;
        left: 50px;    
    }

p.pizzadescript3{
        border:  1px solid black;
        position: absolute;
        left: 250px;
        top: 350px;
    }
    
img.pizzaimg4{
        border: 5px solid #FF3519;
        position: absolute;
        left:800px;
    }

p.pizzadescript4{
        border:  1px solid black;
        position: absolute;
        left: 1000px;
        top: 350px;
    }
    
img.pizzaimg5{
        border: 5px solid #FF3519;
        position: relative;
        left: 50px;    
    }

p.pizzadescript5{
        border:  1px solid black;
        position: absolute;
        left: 250px;
        top: 540px;
    }
  
img.pizzaimg6{
        border: 5px solid #FF3519;
        position: absolute;
        left:800px;
    }
    
p.pizzadescript6{
        border:  1px solid black;
        position: absolute;
        left: 1000px;
        top: 540px;
    }  
    
    /*Dessert page*/
div.dessertdiv1 {
        padding-bottom: 100px;
    }
    
    img.dessertimg1{
        border: 5px solid #FF3519;
        position: relative;
        left: 50px;     
    }
    
    p.dessertdescript1{
            border:  1px solid black;
            position: absolute;
            left: 250px;
            top: 150px;
        }
       
    img.dessertimg2{
            border: 5px solid #FF3519;
            position: absolute;
            left:800px;
        
        
        }
    
    p.dessertdescript2{
            border:  1px solid black;
            position: absolute;
            left: 1000px;
            top: 150px;
        }

    img.dessertimg3{
            border: 5px solid #FF3519;
            position: relative;
            left: 50px;    
        }

    p.dessertdescript3{
            border:  1px solid black;
            position: absolute;
            left: 250px;
            top: 450px;
        }
    
    img.dessertimg4{
            border: 5px solid #FF3519;
            position: absolute;
            left:800px;
        }

    p.dessertdescript4{
            border:  1px solid black;
            position: absolute;
            left: 1000px;
            top: 450px;
        }
    
    /*Side dish page*/ 
    
     div.sidediv1 {
     padding-bottom: 100px;
        }
    
    img.sideimg1{
            border: 5px solid #FF3519;
            position: relative;
            left: 50px;     
        }
    
    p.sidedescript1{
            border:  1px solid black;
            position: absolute;
            left: 250px;
            top: 150px;
        }
    
    img.sideimg2{
            border: 5px solid #FF3519;
            position: absolute;
            left:800px;
        
        
        }
    
    p.sidedescript2{
            border:  1px solid black;
            position: absolute;
            left: 1000px;
            top: 150px;
        }
  
    img.sideimg3{
            border: 5px solid #FF3519;
            position: relative;
            left: 50px;    
        }

    p.sidedescript3{
            border:  1px solid black;
            position: absolute;
            left: 250px;
            top: 450px;
        }
    
    img.sideimg4{
            border: 5px solid #FF3519;
            position: absolute;
            left:800px;
        }

    p.sidedescript4{
            border:  1px solid black;
            position: absolute;
            left: 1000px;
            top: 450px;
        }
    
    